
.box{
    padding: 10px;
    text-align: right;
    direction: rtl;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.title{
    font-size:24px;
    text-align: center;
}

.desc{
    padding: 15px;;
}