


<div  *ngIf="!inMovie" class="row pt-5 pl-5 pr-5 ">
    <div class="form-group col-10">
        <input type="text" class="form-control"  placeholder="search movie" [(ngModel)]="search">
    </div>
    <div class="col-1">
            <button type="button" (click)="getAllMovies()" class="btn btn-primary">SEARCH</button>
    </div>
</div>

<div *ngIf="!inMovie" class="row p-5">
        <div class="col-3 mt-3" *ngFor="let movie of movies">
                <app-movie-card [movieObj] = "movie" (changeInMovieFN)="changeInMovie($event)"></app-movie-card>
        </div>
</div>

<div *ngIf="inMovie">
  <app-movie-component [movie]="currentMovie" (changeInMovieFN)="changeInMovie($event)"></app-movie-component>
</div>
